@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff; /* Set text color to white for better contrast */
  font-family: 'Protest Revolution', sans-serif; /* Add your preferred font-family */
}

.store-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .store-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


